*{
    background-image: url(../media/painter.jpg);
    font-size: 100px;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}